#tweet-btn {
  position: relative;
  margin: auto;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 100px;
  height: 45px;
  background-color: #d9d4e7;
  animation-duration: 5s;
}

.core-btn:hover{
  position: absolute;
  top: 30px;
  background-color: #b873e6;
}

.core-btn a{
  font-size: 20px;
  display: block;
  text-decoration: none;
  color:#0e172c;
  transition: 1.5s;
}

.core-btn a:hover{
  letter-spacing: 5px;
}