#tweets-container {
  margin: auto;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  background-image: url('../images/transparent-square-tiles.png');
  background-color: #5a788f;
  width: 75vw;
  margin: 1em;
  padding: 10px;
  border: 2px solid #168b72;
  box-shadow: 0 0px 3px #adc4bf, 0 1px 2px rgba(255, 248, 248, 0.24);
  transition: box-shadow 0.3s ease-in-out;
}

article.tweet:hover {
  box-shadow: 12px 10px 14px -7px #c0f6ea, 0 10px 10px rgba(0,0,0,0.22);
}

header {
  display: flex;
  align-items: center;
  padding-right: 1em;
  padding-top: 0.5em;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1em;
}

footer {
  display: block;
  flex-direction: column;
}

.icon-group {
  display: flex;
  justify-content: flex-end;
}

.title {
  padding-left: 15px;
}

img {
  padding-left: 1em;
}